html{
  background-color: lightgrey;
}
body {
    margin: 60px auto;
    width: 70%;
    color: blue;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'cursive';
    padding: 0px;
    list-style-type: none;

}
#nav li, #footer li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
      font-weight: bold;
      color: black;
